<!DOCTYPE html>
<html>
<head>
  <title>RailsTestSpeedExperiment</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <% if ENV['INCLUDE_JS_AND_CSS'] %>
      <%= stylesheet_link_tag 'application_with_css', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application_with_js', 'data-turbolinks-track': 'reload' %>
  <% else %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% end %>
</head>

<body>
<%= yield %>
</body>
</html>
